html, body {
  font-family: Vollkorn, Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 11pt;
}

h1 {
  text-align: center;
  font-size: 32pt;
}

a:link {
  color: #07c;
  text-decoration: none;
  border-bottom: 1px dotted #07c;
}

a:hover, a:visited:hover {
  color: #0c7;
  border-bottom: 1px solid #0c7;
}

a:visited {
  color: #4a6b82;
  border-bottom: 1px dotted #4a6b82;
}

ul#links {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

ul#links li {
  margin: 0;
  display: inline;
  text-transform: lowercase;
}

ul#links li:after {
  content: " \00b7 ";
}

ul#links li:last-child:after {
  content: "";
}
