---
title: recipes
---

## Recipes

<ul>
<% items_with_tag('recipes').sort_by { |item| item[:title] }.each do |item| %>
<li><a href="<%= item.identifier %>"><%= item[:title] %></a></li>
<% end %>
</ul>

### Conventions

<dl>
    <dt>butter</dt>
    <dd>unsalted butter</dd>

    <dt>pepper</dt>
    <dd>freshly ground black pepper</dd>

    <dt>salt</dt>
    <dd>kosher salt</dd>

    <dt>simmer</dt>
    <dd>180&deg;&ndash;200&deg;F</dd>
</dl>

### See also

 * [Pinboard: bookmarks tagged 'recipes'](http://pinboard.in/u:jasonpetsod/t:recipes)
